<a href="https://colab.research.google.com/github/BrankoGavrilovic/pajton-za-ucenike-es/blob/main/Obrada_podataka_iz_baza_podataka_napredni_nivo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Analitika baze podataka

##Objašnjenje sadržaja baze podataka

Kao jedna od važnih primena  analitike podataka predstavlja analiza i obrada podataka zapisanih u bazu podataka. Baza podataka je niz podataka rasporedjenih u različite tabele koje su povezane na odgovarajući način.Postoji dosta sistema za upravljanje bazom podataka (SUBP) koji omogučavaju smeštanje i čuvanje podataka.Neke od njih su komercijalne dok su neke potpuno besplatne za eksplataciju. U ovoj lekciji smo se predelili na SQLIte bazu podataka. 

Kreirana je baza podataka pod nazivom baza.db koja simulira poslove bankarskog plaćanja. Baza se sastoji od tri tabele. Prva tabela je pod nazivom klijent čiji su atributi:


*   maticni_broj (primarni ključ)
*   Ime
*   Prezime
*   Adresa
*   godina_rodjenje
*   Zaposlen_u
*   Telefon

Druga tabela nosi naziv racun i predstavlja podatke o brojevima i vrsti računa klijenata. Tabela racun ima sledeće atribute:

*   id_racuna (primarni ključ)
*   Vrsta_racuna
*   maticni_klijenta (strani ključ)

Treće tabela nosi naziv transakcija i  sadrži podatke o transakcijama po računima. Tabela transakcija ima sledeće atribute:

*   id_transakcije (primarni ključ)
*   Iznos
*   datum
*   Vrsta_isplate
*   broj_racuna (spoljašnji ključ)

# Pristup bazi podataka
Da bi radili sa bazom podataka potrebno je omogućiti okruženju Google Colab pristup Google Disku gde ćemo smestiti bazu podataka. Pre toga je potrebno preuzeti bazu podataka baza.db a zatim je uploadovati na disk. Kada to učinimo onda kucanjem sledećih naredbi omogućavamo pristup podacima sa DIska:

*from google.colab import drive*

*drive.mount('/content/drive')* 

Nakon povezivanja sa Diskom potrebno je povezati se sa bazom. Da bi to uradili neophodna nam je putanja(path) do baze. Nju dobijamo tako što preko bočnog menija u opciji FILE pronadjemo na disku bazu a zatim klikom na tri tačke sa strane dobijamo opciju da kopiramo putanju. Nakon toga se možemo povezati na bazu sledećim kodom:

import sqlite3

db=sqlite3.connect("putanja do baze")

Pokretanjem sledeće dve ćelije obavljamo dati postupak.

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
import sqlite3
db=sqlite3.connect("/content/baza.db")

#  Obrada podataka iz baze

##Manipulacija podacima u bazi

Nakon što smo se uspešno povezali na bazu podataka opcijom

 db.execute ("upit")

vršimo obradu podataka u našoj bazi.

### Upit SELECT
Da bi pročitali podatke iz baze koristimo SELECT upit koji ima sledeću strukturu.

SELECT *Nazivi kolona odvojeni zarezom* FROM *naziv_tabele*

Ukoliko je potrebno ispisati sve podatke jedne tabele onda umesto naziva svih kolona jedne tabele možemo staviti *. Tada je oblik naredbe sledeći:

SELECT * FROM *naziv_tabele*

Sledeći primer ispisuje sve podatke iz tabele klijent.

In [13]:
import sqlite3
db=sqlite3.connect("/content/baza.db")
r_row=db.execute("select* from klijent")
for row in r_row:
  print(row)

('0701982790052', 'Danka', 'Puzović', 'Ratarska 12', 1982, 'Deponija Duboko', '0641777388')
('1203945790023', 'Ana', 'Anić', 'Kosovska 18', 1945, 'Penzioner', '0641111244')
('1405954790023', 'Ranko', 'Petrović', 'Majdanska 12', 1954, 'Penzioner', '0641122334')
('1607982790048', 'Branko', 'Gavrilović', 'Ljubljanska 23', 1982, 'Ekonomska školaUžice', '0641837678')
('0305954790025', 'Ivan', 'Ilić', 'Kurlagina 12', 1954, 'Penzioner', '0658889994')
('1504972790065', 'Nikola', 'Nikolić', 'Majdanska 12', 1972, 'Ekonomska škola Užice', '061222544')
('3011950790045', 'Jovana', 'Ilić', 'Nemanjina 24', 1950, 'Penzioner', '0602587964')
('2912945790065', 'Milan', 'Milanović', 'Bela zemlja 23', 1945, 'Penzioner', '031578987')
('0509977790054', 'Bojana', 'Bojović', 'Ada bb', 1977, 'Nova pekara', '0645879452')
('3005980790056', 'Slavica', 'Paunović', 'Jug Bogdanova 34', 1980, 'Ekonomska škola Užice', '031558847')
('1605977790025', 'Valentina', 'Virijević', 'Ratarska 12', 1977, 'Ekonomska škola Užice', '0642548568')
('0304987790058', 'Bojana', 'Banović', 'Dimitrije Tucović 12', 1987, 'Mum iand friends', '061558877')
('1508983790028', 'Matija', 'Banović', 'Dimitrije Tucović 12', 1983, 'Zlatiborski upravni okrug', '031548789')
('0406968790025', 'Milan', 'Stamatović', 'čajetinska 13', 1968, 'Opština Čajetina', '0614587954')
('0808974790025', 'Ivana', 'Mitrić', 'Ada bb', 1974, 'Valjaonica Bakra Sevojno', '031558872')
('0205985790025', 'Nemanja', 'Nikolić', 'Jablanička 34', 1985, 'Medicinska škola Užice', '061222555')
('0303974790025', 'Jovana', 'Jeremić', 'Nišavska 12', 1974, 'Užička gimnazija', '0658887779')
('2602965790025', 'Mina', 'Minić', 'Radanska 23', 1965, 'Užička gimnazija', '031544522')
('3101977790028', 'Nina', 'Nikolić', 'Novosadska 12', 1977, 'Medicinska škola Užice', '0651144778')
('2501975790026', 'Ivona', 'Mirković', 'Ada bb', 1975, 'Prasak doo', '0652165874')

**Zadatak 1.** Iz tabele racun izdvoj kolone id_racuna i Vrsta_racuna.

In [ ]:
import sqlite3
db=sqlite3.connect("/content/baza.db")
r_row=db.execute("##") # dopuni kod
for row in r_row:
  print(row)

Ponekad je potrebno izdvojiti samo one podatke koje zadovoljavaju neki uslov. Opcija

 WHERE uslov

 omogućava izdvajanje onih podataka koji zadovoljavaju traženi uslov. 
 U sledećem primeru izdvojićemo one klijente koji su rodjeni posle 1970. godine.

In [16]:
import sqlite3
db=sqlite3.connect("/content/baza.db")
r_row=db.execute("select* from klijent where godina_rodjenja>1970")
for row in r_row:
  print(row)

('0701982790052', 'Danka', 'Puzović', 'Ratarska 12', 1982, 'Deponija Duboko', '0641777388')
('1607982790048', 'Branko', 'Gavrilović', 'Ljubljanska 23', 1982, 'Ekonomska školaUžice', '0641837678')
('1504972790065', 'Nikola', 'Nikolić', 'Majdanska 12', 1972, 'Ekonomska škola Užice', '061222544')
('0509977790054', 'Bojana', 'Bojović', 'Ada bb', 1977, 'Nova pekara', '0645879452')
('3005980790056', 'Slavica', 'Paunović', 'Jug Bogdanova 34', 1980, 'Ekonomska škola Užice', '031558847')
('1605977790025', 'Valentina', 'Virijević', 'Ratarska 12', 1977, 'Ekonomska škola Užice', '0642548568')
('0304987790058', 'Bojana', 'Banović', 'Dimitrije Tucović 12', 1987, 'Mum iand friends', '061558877')
('1508983790028', 'Matija', 'Banović', 'Dimitrije Tucović 12', 1983, 'Zlatiborski upravni okrug', '031548789')
('0808974790025', 'Ivana', 'Mitrić', 'Ada bb', 1974, 'Valjaonica Bakra Sevojno', '031558872')
('0205985790025', 'Nemanja', 'Nikolić', 'Jablanička 34', 1985, 'Medicinska škola Užice', '061222555')
('0303974790025', 'Jovana', 'Jeremić', 'Nišavska 12', 1974, 'Užička gimnazija', '0658887779')
('3101977790028', 'Nina', 'Nikolić', 'Novosadska 12', 1977, 'Medicinska škola Užice', '0651144778')
('2501975790026', 'Ivona', 'Mirković', 'Ada bb', 1975, 'Prasak doo', '0652165874')

**Zadatak2.** Izdvoj sve klijente koji su u penziji. Napomena: U koloni Zaposlen_u kod penzionera piše Penzioner.

In [19]:
import sqlite3
db=sqlite3.connect("/content/baza.db")
r_row=db.execute("select* from klijent where ######") # dopuni kod. Vodi računa kod uslova treba navesti Penzioner pod jednotrukim navodnicima jer je u pitanju tekstualni podatak
for row in r_row:
  print(row)

('1203945790023', 'Ana', 'Anić', 'Kosovska 18', 1945, 'Penzioner', '0641111244')
('1405954790023', 'Ranko', 'Petrović', 'Majdanska 12', 1954, 'Penzioner', '0641122334')
('0305954790025', 'Ivan', 'Ilić', 'Kurlagina 12', 1954, 'Penzioner', '0658889994')
('3011950790045', 'Jovana', 'Ilić', 'Nemanjina 24', 1950, 'Penzioner', '0602587964')
('2912945790065', 'Milan', 'Milanović', 'Bela zemlja 23', 1945, 'Penzioner', '031578987')

##Upiti nad više tabela

Kod relacionih baza podataka podaci su smešteni u više različitih tabela. Povezivanjem tabela moguće je pročitati različite podatke smeštene u različite tabele.To činimo sledeećim naredbama.

select naziv kolona (odvojen zarezom)

from naziv tabela ( odvojen zarezom)

where uslov

 U našem primeru u jednoj tabeli se nalaze svi podaci o klijentima banke a u drugoj brojevi računa. Dve tabele su povezane spoljnim ključem maticni_broj. Naime na osnovu matičnog broja računa možemo dobiti podatke o vlasniku. U sledećem primeru izdvojićemo ime i prezme vlasnika računa iz tabele klijent i broj računa iz tabele račun. Uslov da bi klijent bio vlasnik racuna je da maticni broj klijenta u tabeli racun odgovara maticnom broju iz tabele klijent.

In [23]:
import sqlite3
db=sqlite3.connect("/content/baza.db")
r_row=db.execute("select ime,prezime,id_racuna from klijent,racun where maticni_broj=maticni_klijenta")
for row in r_row:
  print(row)

('Branko', 'Gavrilović', 111)
('Ranko', 'Petrović', 112)
('Ana', 'Anić', 113)
('Branko', 'Gavrilović', 114)
('Ranko', 'Petrović', 115)
('Ana', 'Anić', 116)
('Danka', 'Puzović', 117)
('Ivan', 'Ilić', 118)
('Nikola', 'Nikolić', 119)
('Jovana', 'Ilić', 120)
('Bojana', 'Bojović', 121)
('Slavica', 'Paunović', 122)
('Valentina', 'Virijević', 123)
('Bojana', 'Banović', 124)
('Matija', 'Banović', 125)
('Milan', 'Stamatović', 126)
('Ivana', 'Mitrić', 127)
('Nemanja', 'Nikolić', 128)
('Jovana', 'Jeremić', 129)
('Mina', 'Minić', 130)
('Nina', 'Nikolić', 131)
('Ivona', 'Mirković', 132)
('Milan', 'Milanović', 133)
('Milan', 'Stamatović', 134)

**Zadatak 3.** 
Dopuni prethodni primer tako što ćemo dodati i vrstu računa korisnika u izlazni podatak.

# Parametarski upiti- napredno

Ponekad je potrebno da upravljanje uslovima upita učinimo interaktivnim i da korisnik sam može da zadaje uslove. Recimo želimo da budemo u mogućnsti da vidimo sve klijente koji su rođeni u opsegu godina  koje korisnik zadaje na standardnom ulazu. Za tako nešto nam je ptreban parametarski upit.
Pogledajmo primer.

In [35]:
import sqlite3
db=sqlite3.connect("/content/baza.db")
n=int(input("Unesi  donju granicu za godinu rođenja klijenta"))
m=int(input("Unesi  gornju granicu za godinu rođenja klijenta"))
godina=(n,m)
print("Klijenti rođeni između",n, " i ",m)
r_row=db.execute("select * from klijent where godina_rodjenja>? and godina_rodjenja<? ",godina)
for row in r_row:
  print(row)

Unesi  donju granicu za godinu rođenja klijenta1980
Unesi  gornju granicu za godinu rođenja klijenta1999
Klijenti rođeni između 1980  i  1999
('0701982790052', 'Danka', 'Puzović', 'Ratarska 12', 1982, 'Deponija Duboko', '0641777388')
('1607982790048', 'Branko', 'Gavrilović', 'Ljubljanska 23', 1982, 'Ekonomska školaUžice', '0641837678')
('0304987790058', 'Bojana', 'Banović', 'Dimitrije Tucović 12', 1987, 'Mum iand friends', '061558877')
('1508983790028', 'Matija', 'Banović', 'Dimitrije Tucović 12', 1983, 'Zlatiborski upravni okrug', '031548789')
('0205985790025', 'Nemanja', 'Nikolić', 'Jablanička 34', 1985, 'Medicinska škola Užice', '061222555')

# Smeštanje podataka iz baze u tabele

Pošto smo naučili da čitamo podatke iz tabela te podatke možemo smestiti u tabele i dalje obrađivali na način koji smo već naučili. Da bi smo to uradili neophodno je prvo uvesti bibilioteku Pandas a onda  metodom Dataframe napraviti tabelu. U sledećem primeru izdvojićemo ime, prezime i matični broj klijenata kojećemo smestiti u tabelu koju ćemo nazvati licni_podaci

In [24]:
import sqlite3
import pandas as pd

db=sqlite3.connect("/content/baza.db")
r_row=db.execute("select ime,prezime,maticni_broj from klijent")
licni_podaci=pd.DataFrame(r_row)
licni_podaci

            0           1              2
0       Danka     Puzović  0701982790052
1         Ana        Anić  1203945790023
2       Ranko    Petrović  1405954790023
3      Branko  Gavrilović  1607982790048
4        Ivan        Ilić  0305954790025
5      Nikola     Nikolić  1504972790065
6      Jovana        Ilić  3011950790045
7       Milan   Milanović  2912945790065
8      Bojana     Bojović  0509977790054
9     Slavica    Paunović  3005980790056
10  Valentina   Virijević  1605977790025
11     Bojana     Banović  0304987790058
12     Matija     Banović  1508983790028
13      Milan  Stamatović  0406968790025
14      Ivana      Mitrić  0808974790025
15    Nemanja     Nikolić  0205985790025
16     Jovana     Jeremić  0303974790025
17       Mina       Minić  2602965790025
18       Nina     Nikolić  3101977790028
19      Ivona    Mirković  2501975790026

Dalje ove podatke možemo obrađivati i modifikovati na načine koje smo već naučili. Recimo, za sam kraj, dodajmo  nazive kolona sledećoj tabeli

In [25]:
licni_podaci.columns=["IMe","Prezime","Matični_broj"]
licni_podaci

          IMe     Prezime   Matični_broj
0       Danka     Puzović  0701982790052
1         Ana        Anić  1203945790023
2       Ranko    Petrović  1405954790023
3      Branko  Gavrilović  1607982790048
4        Ivan        Ilić  0305954790025
5      Nikola     Nikolić  1504972790065
6      Jovana        Ilić  3011950790045
7       Milan   Milanović  2912945790065
8      Bojana     Bojović  0509977790054
9     Slavica    Paunović  3005980790056
10  Valentina   Virijević  1605977790025
11     Bojana     Banović  0304987790058
12     Matija     Banović  1508983790028
13      Milan  Stamatović  0406968790025
14      Ivana      Mitrić  0808974790025
15    Nemanja     Nikolić  0205985790025
16     Jovana     Jeremić  0303974790025
17       Mina       Minić  2602965790025
18       Nina     Nikolić  3101977790028
19      Ivona    Mirković  2501975790026

Zadatak4. Iz tabele transakcija preuzmi kolone broj_racuna, datum, iznos koji će predstavljati sve transakcije po računima a zatim sve smesti u tabelu transakcije_po_racunima i promeni nazive kolona.