<a href="https://colab.research.google.com/github/BrankoGavrilovic/pajton-za-ucenike-es/blob/main/Rad_sa_otvorenim_podacima_vi%C5%A1i_nivo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Učitavanje tabele sa WEB stranice**

Biblioteka Pandas omogućava učitavanje tabele sa WEBa korišćenjem metoda read_html( http adresa strane). Ukoliko na stranici ima više tabela kao rezultat dobijamo niz tabela pa je potrebno navesti dodatni argument posle ve naredbe koji označava koja tabela se učitava.

Sledeći primer sa stranice Wikipedia učitava prvu tabelu koja nam daje podatke o svetskim prvacima u fudbalu. Pošto je naša tabela prva u nizu na kraju naredbe smo upisali njen redni broj [0].

In [ ]:
import pandas as pd
tabela=pd.read_html("https://sr.m.wikipedia.org/sr-ec/%D0%A1%D0%BF%D0%B8%D1%81%D0%B0%D0%BA_%D0%BF%D1%80%D0%B2%D0%B0%D0%BA%D0%B0_%D0%A1%D0%B2%D0%B5%D1%82%D1%81%D0%BA%D0%BE%D0%B3_%D0%BF%D1%80%D0%B2%D0%B5%D0%BD%D1%81%D1%82%D0%B2%D0%B0_%D1%83_%D1%84%D1%83%D0%B4%D0%B1%D0%B0%D0%BB%D1%83")[0]
tabela

**Čitanje Excel tabele**

Da bi pročitali tabelu zapisanu u Excelu koristimo metod read_excel(naziv fajla,opciono naziv lista). U sledećem primeru učitaćemo Excel tabelu sa linka 

"https://github.com/BrankoGavrilovic/pajton-za-ucenike-es/blob/main/zemlje_sveta.xlsx?raw=true"

koja sadrži podatke o zemljema svet i  broju stanonika. Nakon učitavanja primenom čarobnjaka ili na neki drugi način možemo filtrirati podatke u nameri dalje obrade.

In [5]:
zemlje_sveta=pd.read_excel("https://github.com/BrankoGavrilovic/pajton-za-ucenike-es/blob/main/zemlje_sveta.xlsx?raw=true")
zemlje_sveta

,Rank,Country (or dependent territory),Population,Date,% of world
0,NaN,NaN,NaN,NaN,population
1,0,World,7.135000e+09,"January 4, 2014",1
2,1,China,1.362010e+09,"January 4, 2014",0.191
3,2,India,1.238570e+09,"January 4, 2014",0.174
4,3,United States,3.174000e+08,"January 4, 2014",0.0445
...,...,...,...,...,...
242,240,Vatican City,8.000000e+02,"July 1, 2012",0
243,241,Cocos (Keeling) Islands (Australia),5.500000e+02,"August 9, 2011",0
244,242,Pitcairn Islands (UK),5.600000e+01,"February 1, 2013",0
245,NaN,NaN,NaN,NaN,NaN
246,For more other formats visit www.downloadexcel...,NaN,NaN,NaN,NaN

**Učitavanje tabele u Excel**

Ponekad je potrebno modifikovanu tabelu eksportovati u Excel. To radimo korišćenjem metoda to_excel(naziv.xls/s). Nakon izvršenja ove metode fajl se zapisuje u lokalni folder. U slučaju Colab okruženja fajl je zapisan na Google Drive-u i možemo ga videti i dalje preuzeti u Excelu klikom na ikonicu Files u traci sa desne strane radnog lista. U sledećem primeru napravićemo tabelu nova koja će sadržati samo nazive zemalja sveta. potom ćemo tabelu sačuvaati u Excel formatu na lokalnom disku. Pogledajmo primer.

In [18]:
nova=zemlje_sveta["Country (or dependent territory)"]
nova.to_excel("zemljesveta.xlsx",index=False)

In [20]:
zemlje_sveta.columns

Index(['Rank', 'Country (or dependent territory)', 'Population', 'Date',
       '% of world'],
      dtype='object')

Ponekad je potrebno promeniti naziv kolone tabele. Da bi to uradili kristimo sledeću naredbu

naziv_tabele.rename(columns = {'old_col1':'new_col1', 'old_col2':'new_col2'}, inplace = True)

U primeru koji sledi promenićemo naziv kolone Country (or dependent territory) u naziv Country

In [23]:
zemlje_sveta.rename(columns = {'Country (or dependent territory)':'Country'}, inplace = True)
zemlje_sveta.columns

Index(['Rank', 'Country', 'Population', 'Date', '% of world'], dtype='object')

Zadatak1. Promeni naziv kolone % of world u naziv population_procent